<!DOCTYPE html>
<html lang="en" ng-app="demoApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Search: <input type="text" ng-model="query" />
    Sort by:
    <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
    </select>
    <ul ng-controller="PhoneListCtrl">
        <li ng-repeat="phone in phones | filter: query | orderBy: orderProp">
            <span>{{phone.name}} -- {{phone.snippet}}</span>
        </li>
    </ul>
</body>
<script src="lib/angular.js"></script>
<script src="lib/angular-route.js"></script>
<script src="app.js"></script>

</html>